In [29]:
#Q1.

print('\n\n Q1.')
print((80+75+55)/3)

#Q2.

print('\n\n Q2.')
a = 13%2

if a == 1:
    print("odd number")
else:
    print("even number")
    
#Q3.

print('\n\n Q3.')

s = "881120-1068234"
print(s[:6])
print(s[7:])

#Q4.

print('\n\n Q4.')

s = "881120-1068234"
print(s[7])

#Q5.

print('\n\n Q5.')

before = "a:b:c:d"
print(before.replace(":", "#"))

#Q6.

print('\n\n Q6.')

ori = [1, 3, 5, 4, 2]

ori.sort()
ori.reverse()
print(ori)

#print(ori.reverse())

#Q7.

print('\n\n Q7.')


a = ['Life', 'is', 'too', 'short']

print(a[0]+" "+a[1]+" "+a[2]+" "+a[3])
print("{0:->20}".format(""))
result = " ".join(a)
print(result)

#Q8.

print('\n\n Q8.')

a = (1, 2, 3)
a = a + (4, )
print(a)

#Q9

print('\n\n Q9.')

print("a[[1]] = 'python'")

#It is not supposed to be nutable

#Q10

print('\n\n Q10.')

a = {'A':90, 'B':80, 'C':70}

#print(a['B'])

result = a.pop('B')
print(result)

#Q11

print('\n\n Q11.')

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)
c = list(b)
print(c)

#Q12

print('\n\n Q12.')

a = b = [1, 2, 3]
a[1] = 4
print(b)

#a와 b 변수는 모두 동일한 이라는 리스트 객체를 가리키고 있기 때문

 Q1.
70.0


 Q2.
odd number


 Q3.
881120
1068234


 Q4.
1


 Q5.
a#b#c#d


 Q6.
[5, 4, 3, 2, 1]


 Q7.
Life is too short
--------------------
Life is too short


 Q8.
(1, 2, 3, 4)


 Q9.
a[[1]] = 'python'


 Q10.
80


 Q11.
[1, 2, 3, 4, 5]


 Q12.
[1, 4, 3]